asgiref  
astroid  
Brotli  
build  
CacheControl  
certifi  
charset-normalizer  
cleo  
colorama  
crashtest  
dill  
distlib  
dj-database-url  
Django  
django-bootstrap5  
django-database-url  
django-environ  
dulwich  
fastjsonschema  
filelock  
gunicorn  
idna  
installer  
isort  
jaraco.classes  
keyring  
mccabe  
more-itertools  
msgpack   
packaging  
pexpect  
pillow  
pkginfo  
platformdirs  
psycopg2-binary  
ptyprocess  
pylint  
pylint-django  
pylint-plugin-utils  
pyproject_hooks  
pywin32-ctypes  
rapidfuzz  
requests  
requests-toolbelt  
shellingham  
sqlparse  
tomlkit  
trove-classifiers  
typing_extensions  
tzdata  
urllib3  
virtualenv  
whitenoise  
