{% for message in messages %}
    <div class="alert 
    {% if message.tag == 'success' %}
    alert-success
    {% elif message.tag == 'warning' %}
    alert-warning
    {% elif message.tag == 'error' %}
    alert-danger
    {% endif %}
    alert-dismissible fade show">
        {{message}}
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    </div>
{% empty %}

{% endfor %}
<script>
    window.addEventListener("DOMContentLoaded", ()=>{
        document.querySelectorAll(".close").forEach((messageBtn)=>messageBtn.click())
    })
</script>