{% if messages %} {% for message in messages %}
<div class="container">
  <div
    id="messages"
    class="alert
    {% if message.tags == 'error' %}
        alert-danger
    {% else %}
        alert-success
    {% endif %}    
    alert-dismissible fade show text-center"
    role="alert"
  >
    <button class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>
        {{message.tags|title}}:
    </strong>
    {{message}}
  </div>
</div>
{% endfor %} {% endif %}
