{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} home {% endblock %} 
{% block content %}

<form action="{% url 'login' %}" method="post" class="container my-5">
  {% csrf_token %}

  {% bootstrap_form form %}

  <button type="submit" class="w-100 btn btn-lg btn-primary text-center">login</button>
  <a href="{% url 'register' %}" class="w-100 mt-2 btn btn-outline-secondary text-center">Register</a>
</form>
<svg class="bi mb-5" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
<script>
  window.addEventListener("DOMContentLoaded", ()=>{
    // get the forms we want to apply custom Bootstrap validation styles to
    var label = document.querySelector("div.mb-3:nth-child(2) > label:nth-child(1)");
    label.textContent = "إسم المستخدم"

    var label = document.querySelector("div.mb-3:nth-child(3) > label:nth-child(1)");
    label.textContent = "كلمة المرور"

    var label = document.querySelector("button.w-100");
    label.textContent = "تسجيل الدخول"

    var label = document.querySelector("a.w-100");
    label.textContent = "تسجيل كمستخدم جديد"
  });
</script>
{% endblock %}
