{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block title %} home {% endblock %} 

{% block content %}
  {% if user.is_authenticated %}

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        {% include 'partials/_alerts.html' %}
        <h1 class="text-body-emphasis">{{user.username}} ي(ت)شاهد</h1>


        {% for notice in notices %}
          <div class="card my-3">
            <div class="card-header"><h2>{{notice.title}}</h2></div>
            <div class="card-body"><h3 class="card-title">{{notice.subject}}</h3>
            <p class="card-text">{{notice.body}}</p></div>
            <div class="card-footer">
              <small class="text-warning"> من المعلم(ة) {{notice.teacher.owner}}</small>
              <small class="text-warning">إلى {{notice.student.owner}}</small>
              <br><i class="text-i,fo">Since {{notice.date_sent|timesince}}</i>
            </div>
          </div>

          {# Controls #}
          <div class="d-flex flex-column flex-md-row  gap-2 mb-5">
            {% if user.groups.all.first.name == "teacher" %}
            <a class="d-flex flex-column my-1 flex-md-row  align-items-center btn btn-secondary btn-lg mx-3 px-4 rounded-pill" 
            href="javascript:document.getElementById('notice-{{notice.id}}').submit();" role="button">
              تحديث الإشعار
              <form action="{% url 'update_notice' %}" method="get" id="notice-{{notice.id}}">
                {% csrf_token %}
                <input type="hidden" name="notice_to_edit" value="{{notice.id}}" >
              </form>
            </a>

            <a class="d-flex flex-column my-1 flex-md-row  align-items-center btn btn-secondary btn-lg px-4 rounded-pill" 
            href="javascript:if (confirm('are you sure you want to delete the notice')) document.getElementById('notice-delete-{{notice.id}}').submit();" role="button">
              احذف الإشعار
              <form action="{% url 'delete_notice' %}" method="post" id="notice-delete-{{notice.id}}">
                {% csrf_token %}
                <input type="hidden" name="notice_to_delete" value="{{notice.id}}" >
              </form>
            </a>
            {% else %}

            {% endif %}
            <a class="d-flex flex-column my-1 flex-md-row  align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="{% url 'logout' %}">
              Logout
            </a>
          </div>          
        {% empty %}
          <p class="alert alert-info alert-dismissible fade show mx-auto w-50">
            <span class="fw-bold">لا يوجد إشعار متاح حتى الآن</span>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </p>
        {% endfor %}


      </div>
    </div>
  {% endif %}
  <script>
    window.addEventListener("DOMContentLoaded", ()=>{
      setTimeout(function(){
        document.querySelector("button.close").click();
      }, 1000);
    });
  </script>
{% endblock %}
