{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} home {% endblock %} 

{% block content %}
  {% if user.is_authenticated %}
    <div class="container my-5" bis_skin_checked="1">
      <div class="p-5 text-center bg-body-tertiary rounded-3" bis_skin_checked="1">
      {% include 'partials/_alerts.html' %}
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
        <h1 class="text-body-emphasis">مرحبا {{user.username}}</h1>

        <div class="list-group my-3" role="group">
          {% for student_info in related_students %}
            <a href="javascript:document.getElementById('{{student_info.student_incheck}}').submit();" class="list-group-item">
              {{student_info.student_incheck}}  لديه(ا) {{student_info.notes_count}} ملاحظات
              <form action="{% url 'student_dashboard' %}" method="post" id="{{student_info.student_incheck}}">
                {% csrf_token %}
                <input type="hidden" name="user_student" value="{{student_info.student_incheck.pk}}">
              </form>
            </a>
          {% empty %}
            لا شيء لإظهاره حتى الآن
          {% endfor %}
        </div>

        <div class="d-inline-flex gap-2 mb-5" bis_skin_checked="1">
          <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="{% url 'logout' %}">
            تسجيل الخروج
          </a>
          <a class="d-inline-flex align-items-center btn btn-info btn-lg mx-3 px-4 rounded-pill" href="{% url 'dashboard_appendix' %}">
              عرض الاستفسارات حول الدورات
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
