{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} home {% endblock %} 

{% block content %}
<form action="{% url 'register' %}" method="post" class="container my-4" data-bs-theme="dark">
  {% csrf_token %}

  {% bootstrap_form form %}
  {% bootstrap_button button_type="reset" content="محو الكل" %}
  {% bootstrap_button button_type="submit" content=" تسجيل كمستخدم جديد" %}
  <a class="btn btn-secondary " href="{% url 'login' %}" role="button">تسجيل الدخول</a>
</form>

<script>
  window.addEventListener("DOMContentLoaded", ()=>{
    // get the forms we want to apply custom Bootstrap validation styles to
    var select = document.querySelector("#id_group");
    select.classList.remove("form-select");
    select.classList.add("form-control");
    var resetBtn = document.querySelector("button[type='reset']");
    resetBtn.classList.remove("btn-primary");
    resetBtn.classList.add("btn-danger");
    var registerBtn = document.querySelector("a.btn");
    registerBtn.classList.remove("btn-primary");
    registerBtn.classList.add("btn-info");

    var label = document.querySelector(".form-check-label");
    label.textContent = "تسجيل كعضو من طاقم العمل"
    label.classList.add("px-3");


    var checkMembership = document.querySelector("#id_is_staff");
    checkMembership.removeAttribute("required");
  });
</script>
{% endblock %}
