{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %} home {% endblock %} 

{% block content %}
  {% if user.is_authenticated %}
    <div class="container " >
      <div class="p-5 text-center bg-body-tertiary rounded-3" >
      {% include 'partials/_alerts.html' %}
        
        <h1 class="text-body-emphasis">مرحبا {{user.username}}</h1>

        <form action="{% url 'teacher_dashboard' %}" class="text-start" method="post">
          {% csrf_token %}
          {% bootstrap_form form %} 
          {% bootstrap_button button_type="submit" content="سجل الملحوظة"  %}
          {% bootstrap_button button_type="reset" content="محو الكل"  %}
        </form>  
        <div class="list-group my-3" role="group">
          {% for notice in notices %}
            <a href="{% url 'notice' notice.id %}" class="list-group-item">{{notice.title}}</a>
          {% empty %}
            no notice
          {% endfor %}
        </div>
          
        <div class="d-flex flex-column  flex-md-row gap-2 my-2" >
          <a class="d-flex my-1 mx-1 align-items-center btn btn-warning btn-lg px-4 mx-3 rounded-pill" href="{% url 'notices' %}">
            عرض كافة الملاحظات
          </a>
          <a class="d-flex my-1 mx-1align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="{% url 'logout' %}">
            تسجيل الخروج
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
    window.addEventListener("DOMContentLoaded",()=>{
      const reset_btn = document.querySelector("button.btn:nth-child(8)");
      reset_btn.classList.remove("btn-primary");
      reset_btn.classList.add("btn-danger");
      
      const selects = document.querySelectorAll("select");
      selects.forEach((selectField,index)=>{
        if (index == 1) {
          selectField.setAttribute("readonly", true);
        }
        selectField.classList.remove("form-select");
        selectField.classList.add("form-control");
      });
      const labels = [
        "التلميذ(ة)",
        "الاستاذ(ة)",
        "المادة الدراسية",
        "العنوان",
        "المحتوى"
      ];
      const labelTags = document.querySelectorAll("label");
      labelTags.forEach((tag,i)=>{
        tag.textContent=labels[i];
      });
    });
  </script>
{% endblock %}
