{% extends 'base.html' %} 
{% load static %} 
{% load humanize %} 
{% block title%} home {% endblock%} 
{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4 text-center fw-bold"> أكاديمية السفير للتكنولوجيا</h1>
        <p class="lead">
          في أكاديمية السفير نساعد كل طالب على تحديد مواهبه الفريدة وتوجيهه نحو تحقيق أهدافه. من خلال تجارب التعلم العملية والدعم الفردي، يتفوق طلابنا على توقعاتهم.
        </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">الكلمات المفتاحية</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="كلمة مفتاحية (دورة,متطلبات, الخ)"
                />
              </div>

              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">
                    السعر الأقصى (أي سعر)
                  </option>
                  {% if prices_choices %} {% for key,value in prices_choices.items %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %} {% endif %}
                </select>
              </div>
            </div>

            <button class="btn btn-secondary text-center btn-block mt-4" type="submit">
              بحث
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% if announcements %}

<!-- Carousel -->
<section style="background-color: rgb(28, 28, 45);">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <!-- Indicators -->
      <ul class="carousel-indicators">
        {% for announcement in announcements %}
          <li data-target="#myCarousel" data-slide-to="{{announcement.id}}" ></li>
        {% endfor %}
      </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
          {% for announcement in announcements %}
          <div 
          {% if forloop.first %}
            class="carousel-item active"
          {% else %}
            class="carousel-item"
          {% endif %}
          >
            <img src="{{announcement.photo.url}}" alt="Los Angeles" width="1100" height="500">
            <div
              class="carousel-caption  d-none d-md-block" style="background-color:rgba(0,0,0, 0.6)"
            >
              <h5 class="text-center"> {{announcement.title}} </h5>
              <p class="text-center"> 
                {{announcement.description}}
                <br>  
                <small> تنطلق يوم {{announcement.event_date}} </small> 
              </p>
            </div>        
          </div>
          {% endfor %}
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>    
    </div>
  </section>
{% endif %}
<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    {% include 'partials/_alerts.html' %}
    <h3 class="text-center mb-3">أحدث القوائم</h3>
    <div class="row">
      <!-- Listing 1 -->
      {% if listings %} {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{listing.main_img.url}}" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white"
                >${{listing.price|intcomma}}</span
              >
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{listing.title}}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i>
                {{listing.address}}
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-th-large"></i> قاعة المحاضرة {{listing.room}}
              </div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-user"></i> مدرب الدورة: {{listing.instructor}}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-12">
                <i class="fas fa-clock"></i> {{listing.start_date}}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-12">
                <i class="fas fa-paperclip"></i> {{listing.prerequisites}}
              </div>
            </div>
            <hr />
            <a href="{% url 'listing' listing.id %}" class="btn text-center btn-primary btn-block"
              >المزيد من المعلومات</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>لا توجد قوائم حديثة</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container w-100">
    <div class="row text-center">
      <div class="col-md-4 text-center">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr />
        <h3 class="text-center">ورشات استطلاع</h3>
        <p class="text-center">
          تصميم المناهج الدراسية وتطويرها. العمل مع المدربين لإنشاء منهج متماسك يعلم المهارات والتقنيات المطلوبة.
          حدد الدروس والمشاريع والتقييمات على مدار مدة البرنامج.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-laptop fa-4x mr-4"></i>
        <hr />
        <h3 class="text-center">دورات برمجة</h3>
        <p class="text-center">
          جرب لغة ترميز جديدة دون التزام كبير بالوقت. تتضمن الدورات القادمة التي مدتها عدة أسابيع مقدمة إلى Python ومقدمة إلى تطوير الويب باستخدام HTML/CSS. تشمل المشاريع بناء ألعاب وصفحات ويب احترافية.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-school fa-4x mr-4"></i>
        <hr />
        <h3 class="text-center">دروس الدعم</h3>
        <p class="text-center">
          احصل على المساعدة في الواجبات المنزلية والإعداد للامتحانات من قبل فريق المعلمين لدينا لموضوعات المدرسة الثانوية الأساسية مثل الرياضيات والعلوم واللغة الإنجليزية.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
